<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ show_list.name }}</h1>
            <p><a href="{% url 'todo_list_update' show_list.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' show_list.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="1">Tasks</th>
                        <th colspan="1">Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in show_list.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</td></a>
                        <td>{{item.due_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
